html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
	display: flex;
}

#container {
	margin: 0;
	position: relative;
}

@media screen and (min-width: 721px) {
	#container {
		margin: auto;
	}
}

.block {
	background-color: rgba(0, 255, 0, 0.3);
	width: 1024px;
	height: 768px;
	position: absolute;
	left: 0;
	top: 0;
}

.opaque-canvas {
	width: 1024px;
	height: 768px;
	position: absolute;
	/* left: 720px; */
	left: 0;
	top: 0;
}
