html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
	display: flex;
}

#container {
	margin: auto;
	position: relative;
}

.block {
	background-color: rgba(0, 255, 0, 0.3);
	width: 720px;
	height: 480px;
	position: absolute;
	left: 0;
	top: 0;
}

.opaque-canvas {
	width: 720px;
	height: 480px;
	position: absolute;
	/* left: 720px; */
	left: 0;
	top: 0;
}
